@media (max-width: 76em) {
  .grid-4-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  footer {
    height: auto;
    padding-bottom: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer-container {
    margin: 0 auto;
  }
}

@media (max-width: 64em) {
  .brands-section {
    padding-bottom: 10rem;
  }

  .brands-logo-container {
    flex-direction: row;
    gap: 9rem;
    justify-content: center;
  }

  .brands-logo-row {
    flex-direction: column;
    gap: 3rem;
  }

  .reverse-row {
    flex-direction: column-reverse;
  }
}

@media (max-width: 52em) {
  nav {
    display: block;
    position: absolute;
    top: 0;
    background-color: black;
    z-index: 10;
    left: 100%;
    opacity: 0;
    transition: all 0.4s;
  }

  .nav-links {
    z-index: 11;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-link {
    display: none;
  }

  .nav-link a::after {
    left: 0;
    top: 38%;
    transform: translate(-1.4rem);
  }

  .menu-btns,
  .open-menu-btn {
    display: inline-block;
  }

  .nav-open nav {
    left: 0;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    padding: 3.2rem;
  }

  .nav-open .nav-link {
    display: inline-block;
  }

  .nav-open .open-menu-btn {
    display: none;
  }

  .nav-open .close-menu-btn {
    display: block;
  }

  h1 {
    font-size: 5.8rem;
    line-height: 8.8rem;
  }

  .steps-container {
    bottom: -12.7rem;
  }

  h2 {
    font-size: 3rem;
  }

  .fs--xl {
    font-size: 2rem;
  }

  .fs--l {
    font-size: 1.8rem;
  }

  .fs--m {
    font-size: 1.4rem;
  }

  .fs--s {
    font-size: 1.1rem;
  }

  .fs--xs {
    font-size: 0.9rem;
  }

  .square {
    height: 4.3rem;
  }
  .galery-photo-container img {
    padding: 2.4rem;
  }

  .brands-logo-container {
    gap: 6rem;
  }
  .card-text {
    padding-bottom: 2.4rem;
  }
}

@media (max-width: 46em) {
  .grid-3-cols,
  .grid-4-cols {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
  }

  .card-text {
    padding-bottom: 1.5rem;
  }

  .jayaland-img {
    max-width: 14.2rem;
  }

  .jawa-pos-img {
    max-width: 9.5rem;
  }

  .griya-hati-hijau-img {
    max-width: 6.25rem;
  }

  .marvell-city-img {
    max-width: 9.9rem;
  }

  .ciputra-img {
    max-width: 6.15rem;
  }

  .whatsapp-label {
    display: none;
  }

  .whatsapp-btn {
    padding: 1rem;
    background-color: transparent;
  }

  .whatsapp-img {
    padding: 0;
    width: 2.8rem;
    filter: invert(50%) sepia(79%) saturate(5126%) hue-rotate(119deg)
      brightness(100%) contrast(101%);
  }

  /* .whatsapp-img {
    width: 2rem;
    
  }

  .whatsapp-btn {
    padding-top: 1.6rem;
    
  } */

  .footer-info-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-heading-container {
    justify-content: center;
    gap: 10vw;
  }
}

@media (max-width: 43em) {
  h1 {
    font-size: 4.8rem;
    line-height: 7.5rem;
  }

  .hero-header {
    padding-top: 8rem;
  }

  .hero-img-box {
    height: 60.1rem;
  }

  h2 {
    font-size: 2.6rem;
  }

  .fs--xl {
    font-size: 1.8rem;
  }

  .fs--l {
    font-size: 1.6rem;
  }

  .fs--m {
    font-size: 1.2rem;
  }

  .fs--s {
    font-size: 0.9rem;
  }

  .fs--xs {
    font-size: 0.8rem;
  }

  .section-2 {
    padding-top: 5.6rem;
  }
}

@media (max-width: 36em) {
  h1 {
    font-size: 4.4rem;
  }

  .brands-logo-container {
    gap: 2.4rem;
  }

  .jayaland-img {
    max-width: 10.65rem;
  }

  .jawa-pos-img {
    max-width: 7.13rem;
  }

  .griya-hati-hijau-img {
    max-width: 4.7rem;
  }

  .marvell-city-img {
    max-width: 7.5rem;
  }

  .ciputra-img {
    max-width: 4.6rem;
  }

  .steps {
    width: 9.8rem;
    height: 9.8rem;
  }

  .steps::before {
    height: 6.8rem;
    left: 11.7rem;
  }

  .steps::after {
    height: 8.8rem;
    left: 9.8rem;
  }

  .current-step {
    left: 1.4rem;
    font-size: 4.3rem;
  }

  .steps-number {
    top: 2.4rem;
    left: 6.3rem;
  }

  .hero-img-box {
    height: 57.1rem;
  }

  .grid-3-cols {
    gap: 2.2rem;
  }

  .footer-info-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 31em) {
  h1 {
    font-size: 2.5rem;
    line-height: 4rem;
  }

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  section {
    padding: 4rem 0 4rem 0 !important;
  }

  .fs--l {
    font-size: 1.4rem;
  }

  .fs--m {
    font-size: 1rem;
  }

  .grid-4-cols,
  .grid-3-cols {
    grid-template-columns: 85%;
    justify-content: center;
  }

  .hero-header {
    padding-top: 4rem;
  }

  .hero-img-box {
    height: 50.1rem;
  }

  .square {
    display: none;
  }

  .heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .whatsapp-img {
    width: 2rem;
  }

  .whatsapp-btn {
    padding-top: 1.6rem;
    margin: 0;
  }

  .footer-heading-container {
    padding-bottom: 3.5rem;
  }

  .footer-heading-container .logo {
    align-self: flex-start;
    padding: 0.5rem;
    color: #e20044;
    background-color: transparent;
  }

  .footer-header span {
    text-align: center;
  }
}

@media (max-width: 29em) {
  .fs--m {
    font-size: 0.8rem;
  }

  .jayaland-img {
    max-width: 7.5rem;
  }

  .jawa-pos-img {
    max-width: 5rem;
  }

  .griya-hati-hijau-img {
    max-width: 3rem;
  }

  .marvell-city-img {
    max-width: 5rem;
  }

  .ciputra-img {
    max-width: 3rem;
  }

  .fs--m {
    font-size: 0.7rem;
  }

  .hero-text {
    line-height: 2.1rem;
  }

  .hero-img-box {
    height: 49.1rem;
  }
  .footer-cell-header {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

/* .footer-info-container {
  grid-template-columns: repeat(3, 1fr);
}

.footer-heading-container {
  gap: 4rem;
  justify-content: flex-start;
}*/
